.my-dashboard {
    margin-top: 36px;
    background-color: white;
  //  padding-top: 10px;
    min-height: 95vh;
    padding-bottom: 10px;
    .sp-btn-status {
        padding: 10px;
        background-color: green;
    }
}

.pivot-1 {
    position: sticky;
    top: 39px;
    background-color: white;
    z-index: 10;
}

@media (min-width: 481px) {
    .news-dashbord {
        margin: 10px;
        margin-top: 10px;
        //margin-top: 50px !important;
        padding: 10px;
        //  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;

        .item-c {
            margin: auto;
            width: 50%;
        }
        .Title {
            //font-size: 20px;
            align-items: center;
            white-space: nowrap;
            //font-size: 1.1rem !important;
        }

        .sp-icon {
            font-size: 25px;
            border-radius: 50%;
            padding: 7px 12px;
            font-weight: 300;
            margin-right: 15px;
            margin-top: 10px;
            color: #fff;
        }

        .item-title {
            font-size: 0.88rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            opacity: 0.6;
            margin: 0px;
        }
        .item-count {
            font-weight: bold;
            font-size: 2.5rem;
            display: block;
            line-height: 1;
            margin: 1rem auto;
            margin-top: 0.7rem;
        }
    }
}

@media (max-width: 481px) {
    .news-dashbord {
        margin: 10px;
        margin-top: 10px;
        //margin-top: 50px !important;
        padding: 10px;
        //  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;

        .item-c {
            margin: auto;
            width: 30%;
        }
        .Title {
            //font-size: 20px;
            align-items: center;
            white-space: nowrap;
            font-size: 18px ;
        }

        .sp-icon {
            font-size: 15px;
            border-radius: 50%;
            padding: 3px 7px;
            font-weight: 300;
            margin-right: 15px;
            margin-top: 24px;
            color: #fff;
        }

        .item-title {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            opacity: 0.6;
            margin: 0px;
        }
        .item-count {
            font-weight: bold;
            font-size: 1.5rem;
            display: block;
            line-height: 1;
            margin: 1rem auto;
            margin-top: 0.5rem;
        }
    }
}
