.admin-container {
  background-color: white;
  margin-top: 37px;

  .left-navbar {
    //border-right: 1px solid rgba(0, 0, 0, 0.4);
    height: 100%;
    //position: absolute;
    position: fixed;
    //background-color: white;

    .admin-sidenav-item {
      //      background-color: #f1f1f1;

      .admin-sidenav-item-1 {
        padding-left: 15px;
      }

      .admin-sidenav-item-2 {
        padding-left: 15px;
      }
      //p {
      // width: 1000%;
      // min-width: 100%;
      //background-color: red;

      a {
        width: 100%;
        text-decoration: none;
        display: block;
        color: black;
        padding: 8px 12px 8px 12px;
        margin: 0px;
        cursor: pointer;
      }
      //   }
      a:hover {
        background-color: #cccccc;
        color: white;
      }
    }
    .admin-sidenav-item a:active {
      background-color: #0078d4;
      color: white;
    }
  }
  .right-container {
    margin-left: 16.666666666666664%;
    position: fixed;
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 50px !important;
  }
}

body {
  background-color: #fff;
}

// td.MuiTableCell-root {
//   width:95%;
//   overflow:hidden;
//   text-overflow: ellipsis;
// }

.selected-item {
  margin: 10px;
  padding-left: 16px;
  .msg-details {
    border-right: 1px solid rgba(0, 0, 0, 0.4);

    .msg-headings {
      margin-bottom: 0px;

      span {
        font-size: 14px;
        font-weight: 400;
        span {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
    div {
      //  width: 50%;
      span {
        font-size: 14px;
      }
    }
  }

  .attachement-container {
    padding-top: 20px;

    .attachments {
      max-height: 260px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      overflow-y: hidden;
      overflow-x: hidden;

      .item {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
      }

      .heading {
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: white;
      }

      .item:hover {
        background-color: #f5f5f5;
      }
    }

    .attachments:hover {
      overflow-y: auto;
    }
    .attachments::-webkit-scrollbar {
      /* display: none; */
      // visibility: hidden;
    }

    /* width */
    .attachments::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    .attachments::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    .attachments::-webkit-scrollbar-thumb {
      background: #ffb380;
      /* #ffa366; */
    }

    /* Handle on hover */
    .attachments::-webkit-scrollbar-thumb:hover {
      background: #0078d4;
      //  visibility:visible;
    }
  }

  .action-buttons {
    margin-top: 10px;
  }
}

.attachmentss {
  max-height: 260px;
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;

  .item {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
  }

  .item:hover {
    background-color: #f5f5f5;
  }
}

.attachmentss::-webkit-scrollbar {
  /* display: none; */
  // visibility: hidden;
}

/* width */
.attachmentss::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.attachmentss::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.attachmentss::-webkit-scrollbar-thumb {
  background: #ffb380;
  /* #ffa366; */
}

/* Handle on hover */
.attachmentss::-webkit-scrollbar-thumb:hover {
  background: #0078d4;
  //  visibility:visible;
}

.heading {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}

.heading-3 {
  font-weight: 600;
}

.file-upload-wrapper {
  max-height: 260px;
  overflow-y: scroll;
  overflow-x: hidden;

  .upload {
    background-color: #f5f5f5;
    padding: 10px 0px 0px 0px;
    padding: 0px;
    margin: 1%;
    height: 34px;

    .filename {
      font-weight: 600;
      color: #0062cc;
      font-size: 13px;
      margin: 6px;
      text-overflow: ellipsis;
      width: 95%;
      white-space: nowrap;
      /* width: 50px; */
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sp-progress-bar {
      padding-top: 10px;
    }

    .btnremovefile {
      cursor: pointer;
      margin-right: 5px;
      font-size: 20px;
    }
    // .btnremovefile:hover {
    //   background-color: #f1f1f1;
    // }
  }
}

.news-dashbord {
  margin: 10px;
  margin-top: 10px;
  //margin-top: 50px !important;
  padding: 10px;
  //box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;

  .item-c {
    margin: auto;
    //width: 50%;


  }
  .Title {
    //font-size: 20px;
    align-items: center;
    white-space: nowrap;
    //font-size: 1.1rem !important;
  }

  .sp-icon {
    font-size: 25px;
    border-radius: 50%;
    padding: 7px 12px;
    font-weight: 300;
    margin-right: 15px;
    margin-top: 10px;
    color: #fff;
  }

  .item-title {
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    opacity: 0.6;
    margin: 0px;
  }
  .item-count {
    font-weight: bold;
  
    font-size: 2.5rem;
    display: block;
    line-height: 1;
    margin: 1rem auto;
    margin-top: 1rem;
  }
}

.create-news {
  margin: 10px;
  margin-top: 10px;
  //margin-top: 50px !important;
  //border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px !important;
  //box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 100px;
}

.edit-img {
  //width: 90%;
  height: 500px;
  overflow-y: auto;
  .img-div {
    height: 420px;
    width: 270px;
    float: left;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .sp-img {
      // height: 250px;
      // max-height: 250px;
      // min-height: 250px;
      //height: ;
      height: 380px;
      width: 100%;
      max-width: 100%;
    }
  }
}
