.privacy {
    padding: 7px;
    a {
        color: #616770;
        font-size: 13px;
        text-decoration: none;
        margin: 6px;
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .title-a1 {
        margin: 6px;
        color: #616770;
        font-size: 13px;
    }
}


.privacy-c {

    margin-top: 100px;
}

.about-us {
    margin-top: 50px;
}

.telugu {

    font-weight: bold;
.pre-form {

    p {
        margin: 0px;
    }
}

.t-link{

    text-decoration: none;
}

}


.span-link {
    cursor: pointer;
}

.span-link:hover {
    text-decoration: underline;
}