.container-body {
  background-color: white;
  //box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  //box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
  //box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
  //border-left: 1px solid  rgba(0,0,0,0.2);
  transition: 0.3s;
  //border: 1px solid black;
  padding-left: 0px;
  padding-right: 0px;

  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}

// .container {

// }
// .nav-items {
//   //margin-left: 10%;
// }

.main-container {
  // margin-top: 47px;
  // border: 1px solid green;
}

.shownavbar {
  //background-color: white;
  //.second-nav1 {
  position: fixed;
  //  display: block;
  top: 1px;
  //}
}

.shownavbar1 {
  background-color: white;
  top: 0;
  .second-nav1 {
    position: fixed;
    //  display: block;
    top: 0;
  }
}

.second-nav {
  margin-top: 43px;
  background-color: #fff;
  display: flex;
  z-index: 10000;
  width: 100%;
  margin-bottom: -72px;
  overflow-x: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  a {
    float: left;
    color: #6b717b;
    text-align: center;
    padding: 6px 13px 9px 13px;
    font-size: 14px !important;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover {
    background-color: #f5f5f5; // #ee3b2b;
    color: black;
  }

  a:active {
    background-color: #f5f5f5; // #ee3b2b;
    color: black;
  }
}

.second-nav1-w {
  background-color: white;
  position: sticky;
  top: 44px;
  z-index: 10000;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  .second-nav1 {
    margin-top: 35px;
    background-color: #fff;
    display: flex;
    z-index: 10000;
    width: 100%;
    margin-bottom: -36px;
    overflow-x: auto;

    a {
      float: left;
      color: #6b717b;
      text-align: center;
      padding: 6px 13px 9px 13px;
      font-size: 14px !important;
      font-weight: 500;
      text-decoration: none;
      font-size: 17px;
    }

    a:hover {
      background-color: #f5f5f5; // #ee3b2b;
      color: black;
    }

    a.active {
      background-color: #e6e6e6; // #ee3b2b;
      color: black;
    }
  }

  .second-nav1::-webkit-scrollbar {
    /* display: none; */
  }

  /* width */
  .second-nav1::-webkit-scrollbar {
    //width: 3px;
    height: 5px;
    //visibility: hidden;
  }

  /* Track */
  .second-nav1::-webkit-scrollbar-track {
    background: white; //#f1f1f1;
  }

  /* Handle */
  .second-nav1::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    /* #ffa366; */
  }

  /* Handle on hover */
  .second-nav1::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }
}
.sp-topnav {
  overflow: hidden;
  //background-color: #E55346;
  //opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: #f16355;

  //box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
}

.nav0 {
  margin-left: 40px;
}
.nav-items {
  //padding-top: 15px;

  a {
    margin-top: 11px;
    float: left;
    color: white;
    text-align: center;
    padding: 6px 13px 9px 13px;
    //font-size: 14px !important;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    //transition: background-color .10s;
  }
}

.nav-items1 {
  span {
    margin-top: 11px;
    margin-left: 20px;
    float: left;
    color: white;
    text-align: center;
    padding: 6px 13px 9px 13px;
    //font-size: 14px !important;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }
}

.nav-items a:hover {
  // background-color:  #ee3b2b;
  color: white;
}

.nav-items a.active {
  // background-color:  #ee3b2b;
  color: white;
}

// .sp-topnav a.active {
//   // background-color: #4CAF50;
//   // color: white;
// }

.sp-topnav-right {
  float: right;
  margin-top: 5px;
}

.profile-pict {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin: 3px;
  padding: 0px;
  float: left;
}

.user-div {
  float: right;
}
// .sp-container {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

// @media (min-width: 576px) {
//   .sp-container {
//     max-width: 440px;
//   }
// }

// @media (min-width: 768px) {
//   .sp-container {
//     max-width: 620px;
//   }
// }

// @media (min-width: 992px) {
//   .sp-container {
//     max-width: 860px;
//   }
// }

// @media (min-width: 1200px) {
//   .sp-container {
//     max-width: 940px;
//   }
// }

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.nav-item {
  margin-left: 20px;
  padding-top: 0px;
}

.nav-item-icons {
  padding-top: 3px;
}

.header-top {
  // overflow: hidden;
  background-color: white;
  position: sticky;
  //width: auto;
  //margin-left: 25%;
  display: inline-block;
  //margin: 0;
  //padding: 0;
  width: 100%;
  z-index: 100;
  top: 0;
  // display: unset;
  //margin-bottom: 30px;
}

.header-title {
  float: none;
  position: absolute;
  top: 10px;
  // left: 50%;
  left: 50px;
}

.navbar-top-items {
  overflow: hidden;
  background-color: #333;
  // position: fixed;
  top: 0;
  // width: 100%;
}

.navbar-top-items li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-top-items a:hover {
  background: #ddd;
  color: black;
}

.profile-pic {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  float: right;
  margin: 10px;
  margin-top: 5px;
}

img.profile-pic:hover div.dropdown-content {
  display: block !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  z-index: 1900;
  // margin-right: 300px;
  // margin-top: 300px;
  right: 16px;
  top: 68px;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border: 0px;
  background-color: white;
  width: 100%;
  text-align: left;
  display: block;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.d {
  text-align: center;
}

.header-text {
  // margin: auto;
  width: auto;
  border: 1px solid black;
  // width: 50%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  // left: 0;
  // background-color: whitesmoke;
  overflow-x: hidden;
  // transition: 0.5s;
  padding-top: 20px;
  background-color: white;
}

.sp-btn-login {
  // margin-top: 2px;
  margin-top: 0.6rem;
  color: white;
  background-color: #f16355;
  border: none;
  font-size: 16px;
  // display: none;

  .ms-Button-textContainer {
    margin-top: -4px;
  }
}

.sp-btn-login:hover {
  background-color: inherit;
  color: white;
}

.sp-btn-login:focus {
  background-color: #f16355;
  color: white;
  border: 0px;
  outline: 0;
}

.sp-btn-login1 {
  margin-top: 4px;
  color: white;
  background-color: #e55346;
  border: none;
}

.sp-btn-login1:hover {
  background-color: #ee3b2b;
  color: white;
}

.sp-btn-login1:focus {
  background-color: #ee3b2b;
  color: white;
  border: 0px;
  outline: 0;
}

// .sidenav-head{
//     border:1px solid green;

// }

.sidenav a.nav-item-link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #2d4756;
  display: block;
  transition: 0.3s;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px !important;
}

.closebtn:hover {
  cursor: pointer;
}

.sidenav a.nav-item-link:hover {
  color: white;
  //font-size: 26px;
  background-color: #355364; // #466e86  //#364c58   #d7f0fd;
}

// .main {
//   //border:1px solid white;
//   // background-color: #f4fafd;
//   min-height: 100%;
// }

@media screen and (max-height: 450px) {
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (min-width: 481px) {
  .sp-toggle-btn {
    display: none !important;
  }
  .sp-sidenav {
    display: none !important;
  }
  .sp-sidenav-wrapper {
    display: none !important;
  }

  // .sp-container {
  // }

  // .sp-btn-login {
  //   display: block !important;
  // }

  // .sp-btn-login1 {
  //   display: none !important;
  // }
}
@media (min-width: 480px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav-items {
  margin-left: 100px;
}

.topnav-items a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-items a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-items a.active {
  background-color: #2196f3;
  color: white;
}

.topnav-right {
  float: right;
  padding: 6px;
  margin-top: 8px;
  // margin-right: 16px;
  border: none;
  font-size: 17px;
}

.user-name {
  float: left;
  margin: 0px;
  //padding-top: 6px;
  margin-top: 10px;
  margin-right: 6px;

  color: #fff;
}

.user-actions {
  // margin: 8px;
  text-align: center;
  // margin-left: 10px;
  // margin-right: 10px;
}

.user-actions p {
  padding: 8px;
  margin: 0px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  //font-weight: 500;
  cursor: pointer;
}

.user-actions hr {
  margin: 4px;
}

.user-actions p:hover {
  background-color: #e55346;
  color: #fff;
}

.profile-info {
  .avatar-2 {
    height: auto;
    width: 70%;
    //width:100%;
    margin: auto;
    display: block;
    border-radius: 5% !important;
  }
  p {
    text-align: center;
  }
  //margin-bottom: 20px;
}

.sp-sidenav-wrapper {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: fixed;
  transition: 0.5s;
  height: 100%;
}

.sp-sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;

  padding-top: 41px;
  //border: 1px solid green;

  //.close-btn-div {
  //border: 1px solid black;
  // }
}

.sp-show-side {
  width: 180px !important;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.sp-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  // background-color:#E55346;
  display: block;
  transition: 0.3s;
}

.sp-sidenav a:hover {
  color: #f1f1f1;
  background-color: #e55346;
}

.sp-toggle-btn {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
}

.sp-closebtn {
  // position: absolute;
  // top: 0;
  right: 25px;
  padding: 8px !important;
  height: 41px;
  background-color: #e55346;
  color: #fff;

  // float: right;
  //font-size: 36px;
  //margin-left: 50px;

  span {
    font-size: 36px;
    margin-top: -19px;
  }
}

@media (max-width: 481px) {
  // .main-container {

  //   .main-contai {
  //     padding: 0px !important;
  //   }
  // }
  .sp-logo {
    height: 45px;
    width: 58px;
  }
  // .main-container {
  //   margin-top: 80px;
  // }
  .profile-info {
    .avatar-2 {
      height: auto;
      width: 50%;
      //   width: 100% !important;
      // margin-left: auto;
      // margin-right: auto;
      border-radius: 5% !important;
    }
  }
}
