
.main-contai-1 {
  border-radius: 15px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
  background-color: white;
  padding-bottom: 5px;
}


.news-info1 {
  margin-top : -5px
}