.factsContainer {
    width: 100%;
    margin-top: 80px;
    .facts {
        width: 100%;
        padding: 0 40px;
        .title {
            font-weight: bold;
            font-size: 18px;
            margin-top: 20px;
        }
        .description {
            padding: 10px;
        }
        .videoContainer {
            display: flex;
            justify-content: center;
            .video {
                width: 600px;
            }
            iframe {
                width: 600px !important;
                height: 340px !important;
            }
        }
    }
}   