.msg-c {
  display: inline;
}

.sp-float-left {
  float: left;
}
.sp-name {
  margin-top: 10px !important;
}

.time-stamp {
  color: #616770;
  font-size: 12px;
  line-height: 1.34;
}

.profile-pic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 8px;
  padding: 0px;
  
  float: left;
}

.column {
  margin-top: 5px;
  float: left;
  min-width: 60px;
  width: 60px;
}
.column1 {
  float: left;
  width: 70%;
  padding: 10px;
 }

.row:after {
  content: "";
  display: table;
  clear: both;
}
