.list-template {
  max-height: 400px;
  //overflow-y: hidden;
  overflow-y: auto;
  /* -ms-overflow-style: none; */
  // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  //margin-top: 10px;
  background-color: white;
  //border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: -webkit-sticky;
  //position: sticky;
  //position: relative fixed;
  //top: 42px;
  padding: 12px;
  .heading {
    margin-top: 10px;
    padding-left: 8px;
    font-size: 16px;
    margin-bottom: 0px;
    color: #6b717b;
    //text-align: center;
    /* border-bottom:5px solid #0078d4; */
  }

  .sp-headline {
    padding: 5px;

    p {
      max-height: 52px;
      margin: 5px;
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      // white-space:normal;
      text-overflow: ellipsis;
    }

    a,
    a:hover,
    a:focus {
      text-decoration: none;
      cursor: pointer;
      color: #000;
    }
    hr {
      margin: 0px;
    }
  }
}

.list-template:hover {
}

.list-template::-webkit-scrollbar {
  /* display: none; */
}

/* width */
.list-template::-webkit-scrollbar {
  width: 8px;
  border-bottom-right-radius: 20px !important;
  //display: inline;
  //visibility: hidden;
  opacity: 0;
}

/* Track */
.list-template::-webkit-scrollbar-track {
  background: #f1f1f1;
  // visibility: hidden;
}

/* Handle */
.list-template::-webkit-scrollbar-thumb {
  background: #ffb380;
  // visibility: hidden;
  /* #ffa366; */
}

/* Handle on hover */
.list-template::-webkit-scrollbar-thumb:hover {
  background: #0078d4;
  //visibility: visible;
  opacity: 1;
}

.shimmer-wrapper {
  padding: 10px;

  .shimmer-w {
    width: 60% !important;
  }
}
